@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  /* background-color: #cdcccc; */
  /* background: linear-gradient(#2b1055, #7597de); */
}

header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10000;
}

header .logo {
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
}

header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  list-style: none;
  margin-left: 20px;
}

header ul li a {
  text-decoration: none;
  padding: 6px 15px;
  color: #fff;
  border-radius: 20px;
}

header ul li a:hover,
.active {
  background: #fff;
  color: black;
}

section {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

section::before {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #cdcccc, transparent);
  z-index: 1000;
}

section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

#text {
  position: absolute;
  color: #fff;
  white-space: nowrap;
  margin-bottom: 300px;
  font-size: 6.5vw;
  z-index: 9;
}

#btn {
  text-decoration: none;
  display: inline-block;
  padding: 8px 30px;
  border-radius: 40px;
  background: #fff;
  color: #2b1055;
  font-size: 1.5em;
  z-index: 9;
  transform: translateY(100px);
  margin-bottom: 300px;
  cursor: pointer;
}

#btn:hover {
  background: lightcoral;
  color: black;
}

.container-1 {
  max-width: 1200px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 100px;
  /* background-color: rgb(249, 247, 245); */
}

h2 {
  margin-bottom: 1rem;
  font-size: 30px;
  font-weight: bold;
}

.container-3 {
  display: flex;
  overflow-y: auto;
  max-height: 400px;
  padding: 10px;
  gap: 20px;
  max-width: 1200px;
  /* margin-top: 50px; */
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.container-3::-webkit-scrollbar {
  display: none;
}

.item {
  flex-shrink: 0; /* Prevent items from shrinking */
  cursor: pointer;
  transition: transform 0.3s ease-out;
}

.item:hover {
  transform: scale(1.05);
}

.image-container {
  position: relative;
  width: 320px;
  height: 320px;
  overflow: hidden;
}

.image-container img {
  border-radius: 0.75rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text {
  font-size: 1.25rem;
  margin-top: 0.5rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr)); /* 3 columns */
  gap: 1rem;
}
.card {
  display: flex;
  flex-direction: column;
  flex-basis: calc(33.333% - 1rem);
  padding: 1rem;
  transition: transform 0.3s;
  border-radius: 0.375rem; /* 6px */
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-decoration: none;
  color: inherit;
}

.card:hover {
  transform: scale(1.05);
}

.card-image {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 56.25%; /* 16:9 aspect ratio */
  overflow: hidden;
  border-radius: 0.375rem 0.375rem 0 0; /* Rounded corners only on the top */
}

.card-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-details {
  padding: 1rem;
}

.card-details h3 {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
}

.card-details span {
  color: #666;
  font-size: 0.875rem;
}

.sec {
  max-width: 1200px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 100px;
}

.sec h2 {
  font-size: 3.5em;
  margin-bottom: 10px;
  color: black;
}

.sec p {
  font-size: 1.2em;
  color: black;
  max-width: 60%;
  padding: 10px;
  margin-top: 20px;
}

.aboutContainer {
  display: flex;
}

.aboutContainer img {
  width: 500px;
  height: 350px;
  object-fit: cover;
}

/* Parallax background styling */
.parallax {
  background-image: url("parallaxIMG.jpg");

  height: 1000px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.5);
}

.container {
  max-width: 1170px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style: none;
}
.job-listings {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* Set 3 jobs per row */
  grid-gap: 20px;
}

.job {
  background-color: blue;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s cubic-bezier(0, 0, 0.2, 1),
    transform 0.3s cubic-bezier(0, 0, 0.2, 1);
  background-color: rgba(200, 200, 200, 0.8);
}

.job:hover {
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
  transform: scale(0.95);
}

.job h2 {
  color: black;
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
  font-size: x-large;
}

.job .location {
  color: black;
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
  font-size: large;
}

.apply-button {
  background-color: black;
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out 0.3s;
  text-decoration: none; /* Remove default link underline */
  display: inline-block; /* Make the button display as a block element */
  font-size: 16px;
}

.apply-button:hover {
  background-color: black;
}

/* Loop to set background image for each job box */
.job:nth-child(-n + 12) {
  background-image: url("pic.jpg");
  background-size: cover;
  background-position: center;
}

.apply-button {
  background-color: white;
  color: black;
  font-family: "Poppins", sans-serif;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out 0.3s;
}

.apply-button:hover {
  background-color: rgba(0, 0, 0, 0);
  color: black;
  border: 2px solid black;
}
.footer {
  background-color: #24262b;
  padding: 70px 0;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

.copy-div {
  justify-content: center;
  align-items: center;
}

.copyright {
  color: white;
  margin-top: 25px;
  margin-left: 700px;
}

.jobs-list-container {
  max-width: 900px;
  margin: 20px auto;
  font-family: "Rubik", sans-serif;
}

.jobs-list-container h2 {
  font-size: 30px;
  border-left: 4px solid #023047;
  padding-left: 20px;
}

.jobs-list-container .jobs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
}

.jobs-list-container .jobs img {
  width: 60px;
}

.jobs-list-container .job {
  box-shadow: 0 4px 24px -8px rgba(2, 48, 71, 0.2);
  padding: 24px;
  border-radius: 16px;
  position: relative;
  display: flex;
  flex-direction: column;
  transition: all 400ms ease;
}

.jobs-list-container .job:hover {
  transform: scale(1.03);
}

.jobs-list-container .open-positions {
  position: absolute;
  top: 40px;
  right: 24px;
  color: black;
}

.jobs-list-container .job-title {
  font-size: 20px;
  padding: 10px 0;
  margin: 0;
  color: #023047;
  margin-top: 10px;
}

.jobs-list-container .details {
  margin-top: 6px;
  font-size: 14px;
  color: #333;
  line-height: 1.8;
  flex: 1;
}

.jobs-list-container .details-btn {
  text-decoration: none;
  border: 1px solid #023047;
  color: #000;
  padding: 8px 16px;
  border-radius: 8px;
  text-align: center;
  margin-top: 20px;
  transition: all 400ms ease;
}

.jobs-list-container .details-btn:hover {
  background: #023047;
  color: #fff;
}

.jobs-list-container .job-search {
  width: 100%;
  padding: 12px 24px;
  font-size: 18px;
  font-family: "Rubik", sans-serif;
  box-sizing: border-box;
  border: 1px solid #333;
  border-radius: 8px;
  margin-bottom: 20px;
}
